################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ALevelGame/Library/Artifacts
/ALevelGame/Temp
/ALevelGame/obj/Debug
/ALevelGame/Library/PackageCache/*
/ALevelGame/Library/PackageManager/*
/ALevelGame/Library/ScriptAssemblies/*
